@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*
.Inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/



@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/*
.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


:root{
    --azul_petroleo: #1E3A5F;
    --verde_suave: #2E7D6F;
    --branco: #F4F6F8;
    --preto: #2B2B2B;
    --titulo: bold 1.3em "Poppins", sans-serif,arial;
    --subtitulo_e_texto: normal 1em "inter",sans-serif, arial;
    --numbers: bold 16px "JetBrains Mono", monospace;
  
    --espaco-rigth: 0px 0px 0px 200px; /*O item vai para direita*/
    --espaco-left: 0px 200px 0px 0px; /*O item vai para esquerda*/
    --espaco-total: 0px 200px;
}   
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header{
    padding: var(--espaco-total);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.418);
}
span > img{
    width: 100px;
}
nav{
    
    
}
ul> li{
    display: inline-flex;
    list-style: none;
    padding: 10px;
}
.a_headers{
    font: normal 15px "Poppins", sans-serif,arial;
    text-decoration: none;
    color: #76737E;
}
.a_headers:hover{
    background-color: #DCE7EF;
    padding: 10px;
    border-radius: 10px;
    color: #1b526b;
}

main{
   width: 100%;
   height: 100vh; 
   min-width: 80%;
}
#sect_one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    background-image: linear-gradient(90deg, hsl(210,30%,92%), hsl(200,40%,88%),  hsl(200,40%,88%), hsl(35,60%,90%))
}
#sect_one > #text_sec_one{
    width: 100%;
    padding: var(--espaco-rigth);
    font: var(--titulo);
}
#text_sec_one{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
#text_sec_one > p{

    font: normal 20px "Poppins", sans-serif,arial;
    color: #76737E;
}
.color_yellow{
    color: #F5B400;
}
#img_conquist{
    padding: var(--espaco-left);
    
}
#sect_two{
    width: 100%;
}

@media(max-width: 1440px){
    #sect_one{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    #sect_one > #text_sec_one{
        margin-top: 50px;
        width: 80%;
        padding: 0px;
        text-align: start;
    }
    #text_sec_one{
        align-items: center;
    }
    #text_sec_one > h1{
        font-size: 2em;
        width: 750px;
    }
    #text_sec_one > h2{
        font-size: 1.3em;
        width: 750px;
    }
    #text_sec_one > p{
        font-size: 0.8em;
        width: 750px;
    }
    #img_conquist{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    #cosquist{
        
    }
}