@charset "UTF-8";
:root{
    --azul_petroleo: #1E3A5F;
    --verde_suave: #2E7D6F;
    --branco: #F4F6F8;
    --preto: 2B2B2B;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;

    height: 70px
}
h1 > img{
    width: 80px;
}
nav{
    margin-right: 90px;
}
ul> li{
    display: inline-flex;
    list-style: none;
    padding: 10px;
}
.a_headers{
    text-decoration: none;
}
