@charset "UTF-8";
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    background-color: aqua;
    height: 70px
}
header > nav{
    justify-self: end;
}
li > a{
    
    text-decoration: none;
}